<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Remarkable People</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="card col-8" id="card">
                <div>
                    <h1>Profile</h1>
                </div>
                <div>
                    <video id='photoAlive' autoplay muted loop>
                        <source src="/img/KnorozovAlive.mp4" type='video/mp4' alt="awesome_video_here">
                        Should the video not be supported by your browser, here is a link.
                        <a href="/img/KnorozovAlive.mp4">Download</a>. 
                    </video>
                </div>
                <div>
                    <span>Name</span>
                    <h3 id="name">A.N.Other</h3>
                    <hr />
                    <span>Country</span>
                    <h3 id="country">La-la-land</h3>
                    <hr />
                    <span>Domain</span>
                    <h3 id="domain">Fine arts and Programming</h3>
                    <hr />
                    <span>Achievements</span>
                    <h3 id="achievements">There should be some...</h3>
                    <hr />
                </div>
                <div>
                    <button class="button" id="addNewButton" onclick="startEdittingProfile()">Add New</button>
                </div>
            </div>

            <div class="card col-8" id="card-edit">
                <h1>Profile</h1>
                <video id='photoAlive' autoplay muted loop>
                    <source src="/img/KnorozovAlive.mp4" type='video/mp4' alt="awesome_video_here">
                    Should the video not be supported by your browser, here is a link.
                    <a href="/img/KnorozovAlive.mp4">Download</a>.
                </video>

                <span>Name</span><label for="input-name"></label><input type="text" id="input-name" , value='' />
                <hr />
                <span>Country</span> <label for="input-country"></label><input type="text" id="input-country" , value='' />
                <hr />
                <span>Domain</span><label for="input-domain"></label><input type="text" id="input-domain" , value='' />
                <hr />
                <span>Achievements</span><label for="input-achievements"></label><input type="text" id="input-achievements" , value='' />
                <hr />
                <div class="buttonsRow">
                    <div>
                        <button class="button" id="updateButton" onclick="handleUpsertRequest()">Update</button>
                    </div>
                    <div class='delCancelButtons'>
                        <button class="button" id="deleteButton" onclick="handleDeleteRequest()">Delete</button>
                        <button class="button" id="cancelButton" onclick="makeNoRequest()">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="allPeople col-4" id="allPeople"></div>

        </div>
    </div>

    <script src="/js/index.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>